@font-face {
  font-family: 'Gilroy black';
  src: url('../../fonts/generated/gilroy/Gilroy-Black.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-Black.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-Black.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-Black.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-Black.svg#Gilroy-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy ultra light';
  src: url('../../fonts/generated/gilroy/Gilroy-UltraLight.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-UltraLight.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-UltraLight.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-UltraLight.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-UltraLight.svg#Gilroy-UltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy thin italic';
  src: url('../../fonts/generated/gilroy/Gilroy-ThinItalic.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-ThinItalic.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-ThinItalic.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-ThinItalic.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-ThinItalic.svg#Gilroy-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy light';
  src: url('../../fonts/generated/gilroy/Gilroy-Light.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-Light.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-Light.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-Light.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy extra bold italic';
  src: url('../../fonts/generated/gilroy/Gilroy-ExtraBoldItalic.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-ExtraBoldItalic.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-ExtraBoldItalic.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-ExtraBoldItalic.svg#Gilroy-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy semibold italic';
  src: url('../../fonts/generated/gilroy/Gilroy-SemiBoldItalic.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-SemiBoldItalic.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-SemiBoldItalic.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-SemiBoldItalic.svg#Gilroy-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy heavy';
  src: url('../../fonts/generated/gilroy/Gilroy-Heavy.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-Heavy.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-Heavy.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-Heavy.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy medium';
  src: url('../../fonts/generated/gilroy/Gilroy-Medium.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-Medium.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-Medium.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-Medium.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy black italic';
  src: url('../../fonts/generated/gilroy/Gilroy-BlackItalic.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-BlackItalic.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-BlackItalic.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-BlackItalic.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-BlackItalic.svg#Gilroy-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy heavy italic';
  src: url('../../fonts/generated/gilroy/Gilroy-HeavyItalic.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-HeavyItalic.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-HeavyItalic.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-HeavyItalic.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-HeavyItalic.svg#Gilroy-HeavyItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy extra bold';
  src: url('../../fonts/generated/gilroy/Gilroy-ExtraBold.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-ExtraBold.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-ExtraBold.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy bold';
  src: url('../../fonts/generated/gilroy/Gilroy-Bold.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-Bold.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-Bold.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-Bold.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy ultra light italic';
  src: url('../../fonts/generated/gilroy/Gilroy-UltraLightItalic.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-UltraLightItalic.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-UltraLightItalic.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-UltraLightItalic.svg#Gilroy-UltraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy thin';
  src: url('../../fonts/generated/gilroy/Gilroy-Thin.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-Thin.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-Thin.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-Thin.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-Thin.svg#Gilroy-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy bold italic';
  src: url('../../fonts/generated/gilroy/Gilroy-BoldItalic.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-BoldItalic.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-BoldItalic.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-BoldItalic.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-BoldItalic.svg#Gilroy-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy light italic';
  src: url('../../fonts/generated/gilroy/Gilroy-LightItalic.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-LightItalic.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-LightItalic.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-LightItalic.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-LightItalic.svg#Gilroy-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy medium italic';
  src: url('../../fonts/generated/gilroy/Gilroy-MediumItalic.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-MediumItalic.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-MediumItalic.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-MediumItalic.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-MediumItalic.svg#Gilroy-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy regular italic';
  src: url('../../fonts/generated/gilroy/Gilroy-RegularItalic.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-RegularItalic.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-RegularItalic.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-RegularItalic.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-RegularItalic.svg#Gilroy-RegularItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy semibold';
  src: url('../../fonts/generated/gilroy/Gilroy-SemiBold.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-SemiBold.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-SemiBold.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-SemiBold.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy regular';
  src: url('../../fonts/generated/gilroy/Gilroy-Regular.eot');
  src: url('../../fonts/generated/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/gilroy/Gilroy-Regular.woff2') format('woff2'),
  url('../../fonts/generated/gilroy/Gilroy-Regular.woff') format('woff'),
  url('../../fonts/generated/gilroy/Gilroy-Regular.ttf') format('truetype'),
  url('../../fonts/generated/gilroy/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption bold';
  src: url('../../fonts/generated/pt_sans_caption/PTSans-CaptionBold.eot');
  src: url('../../fonts/generated/pt_sans_caption/PTSans-CaptionBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/pt_sans_caption/PTSans-CaptionBold.woff2') format('woff2'),
  url('../../fonts/generated/pt_sans_caption/PTSans-CaptionBold.woff') format('woff'),
  url('../../fonts/generated/pt_sans_caption/PTSans-CaptionBold.ttf') format('truetype'),
  url('../../fonts/generated/pt_sans_caption/PTSans-CaptionBold.svg#PTSans-CaptionBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url('../../fonts/generated/pt_sans_caption/PTSans-Caption.eot');
  src: url('../../fonts/generated/pt_sans_caption/PTSans-Caption.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/generated/pt_sans_caption/PTSans-Caption.woff2') format('woff2'),
  url('../../fonts/generated/pt_sans_caption/PTSans-Caption.woff') format('woff'),
  url('../../fonts/generated/pt_sans_caption/PTSans-Caption.ttf') format('truetype'),
  url('../../fonts/generated/pt_sans_caption/PTSans-Caption.svg#PTSans-Caption') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
