@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.footer {
  text-align: center;

  &__copyright {
    margin-bottom: rem(20);
  }
  
  &__list {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 767px){
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    & + & {
      margin-left: 10px;
    }
  }

  &__link, &__copyright {
    font-family: $font-gilroy-500;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 107.2%;
    /* or 19px */
    letter-spacing: 0.02em;
    color: $text-contrast;
  }
  
  &__link {
    text-decoration: underline;
    
    &:hover {
      text-decoration: none;
    }
  }
}
