@import "../shared/variables";
@import "../shared/mixin/px-to-rem";

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: background-color .15s ease-in-out, padding .15s ease-in-out;

  &.sticky {
    background-color: $bg-secondary;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__ui {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav, .auth {
    @media screen and (max-width: 991px){
      display: none;
    }
  }

  .hamburger {
    margin-left: auto;
  }
}

.nav {
  &__link {
    font-family: $font-gilroy-400;
    font-size: 16px;
    line-height: 1.1875;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: $text-contrast;

    & + & {
      margin-left: 40px;
    }
  }
}

.auth {
  &__link {
    font-family: $font-gilroy-400;
    font-size: 16px;
    line-height: 1.1875;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: $text-contrast;

    & + & {
      margin-left: 40px;
    }
  }
}
