@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(50);
  font-weight: normal;
  font-size: rem(18);
  line-height: 1;
  white-space: nowrap;
  padding-left: rem(32);
  padding-right: rem(32);
  border-radius: rem(5);
  min-width: 250px;
  transition: all .15s ease-in-out;

  &-lg {
    @media screen and (min-width: 768px){
      min-width: 350px;
      height: rem(70);
      font-size: rem(24);
    }
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-primary {
    background-color: $bg-primary;
    color: $text-secondary;

    &:hover {
      background-color: darken($bg-primary, 15%)
    }
  }

  &-outline-primary {
    border: 1px solid $bg-primary;
    color: $text-primary;

    &:hover {
      border-color: darken($bg-primary, 15%);
      color: darken($bg-primary, 15%)
    }
  }

}
