@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.checkbox {

  &__input {
    display: none;

    &:checked + .checkbox__icon::before {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__icon {
    position: relative;
    top: rem(5);
    float: left;
    display: inline-flex;
    width: rem(18);
    height: rem(18);
    border-radius: rem(2);
    background-color: $bg-contrast;
    margin-right: rem(10);

    &::before {
      position: absolute;
      content: '';
      left: 50%;
      top: 50%;
      margin-top: -30%;
      margin-left: -30%;
      width: 60%;
      height: 60%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23151515' d='M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0 c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7 C514.5,101.703,514.499,85.494,504.502,75.496z'/%3E%3C/svg%3E");
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-5px);
      transition: opacity .15s ease-in-out, visibility .15s ease-in-out, transform .15s ease-in-out;
    }
  }

  &__text {
    font-size: rem(11);
    line-height: 1;
    letter-spacing: 1px;
    color: $text-secondary;
  }

}
