@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.form {
  width: 100%;
  max-width: 477px;
  margin: 0 auto;

  &__label {
    font-family: $font-gilroy-500;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 107.2%;
    /* identical to box height, or 26px */
    letter-spacing: 0.02em;
    color: $text-contrast;

    @media screen and (max-width: 767px){
      font-size: 20px;
    }
  }

  &__group {
    & + & {
      margin-top: 30px;
    }

    & + .btn {
      margin-top: 40px;
    }
  }

  &__control {
    width: 100%;
    display: block;
    background: $bg-contrast;
    border-radius: 3px;
    height: 50px;
    padding: 0 15px;

    @at-root {
      textarea#{&} {
        height: 100px;
        padding: 15px;
      }
    }
  }

}
