<footer class="footer">

    <div class="container">

        <p class="footer__copyright" data-aos="fade-up" data-aos-duration="350" data-aos-delay="400" data-aos-offset="100">All rights reserved © 2020</p>

        <ul class="footer__list">

            <li class="footer__item" data-aos="fade-up" data-aos-duration="350" data-aos-delay="450" data-aos-offset="100">
                <a href="" class="footer__link">Terms For Publishers</a>
            </li>

            <li class="footer__item" data-aos="fade-up" data-aos-duration="350" data-aos-delay="500" data-aos-offset="100">
                <a href="" class="footer__link">Terms For Advertisers Privacy</a>
            </li>

            <li class="footer__item" data-aos="fade-up" data-aos-duration="350" data-aos-delay="550" data-aos-offset="100">
                <a href="" class="footer__link">Policy Cookie Policy</a>
            </li>

        </ul>
        <!-- /.footer__list -->

    </div>
    <!-- /.container -->

</footer>
<!-- /.footer -->
