<header class="header">

    <div class="container">

        <div class="row">

            <div class="col-4">

                <a href="/" class="logo" data-aos="fade-up" data-aos-duration="350" data-aos-delay="0" data-aos-offset="100">

                    <svg width="170" height="29" viewBox="0 0 170 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M105.242 7.99L105.165 8.38185H102.23L101.535 12.457H104.47L101.767 27.9742H105.937L108.64 12.457H113.197L113.892 8.38185H109.335L109.413 7.99C109.915 4.97279 111.845 3.83643 114.664 4.11072L115.359 0.0355231C109.606 -0.356323 106.169 2.50415 105.242 7.99Z" fill="#FFCF00"/>
                        <path d="M131.492 8.38185L130.951 11.5558C129.677 9.20472 127.399 7.87245 124.425 7.87245C119.019 7.87245 114.501 11.9085 113.459 17.747C112.455 23.272 115.621 28.4836 121.413 28.4836C124.425 28.4836 126.781 27.4256 128.48 25.6623L128.094 27.9742H132.264L135.662 8.38185H131.492ZM122.649 24.4475C119.135 24.4475 117.011 21.7046 117.629 18.0604C118.324 14.0636 121.491 11.9085 124.657 11.9085C127.785 11.9085 130.256 13.9852 129.87 17.747L129.677 18.8833C128.828 22.214 125.931 24.4475 122.649 24.4475Z" fill="#FFCF00"/>
                        <path d="M145.005 28.4836C149.098 28.4836 152.341 26.6419 152.998 22.9193C154.311 15.2783 143.305 17.5902 144.001 13.7893C144.271 12.3003 145.815 11.6734 147.206 11.6734C148.827 11.6734 150.179 12.4179 150.642 13.8677L154.388 11.9476C153.23 9.40065 150.758 7.87245 147.437 7.87245C143.846 7.87245 140.448 9.91005 139.83 13.4367C138.517 20.8817 149.445 18.9225 148.827 22.5275C148.596 23.899 147.283 24.6043 145.352 24.6043C143.074 24.6043 141.645 23.4287 141.182 21.783L137.436 23.7422C138.517 26.6419 140.989 28.4836 145.005 28.4836Z" fill="#FFCF00"/>
                        <path d="M164.478 12.457H169.266L170 8.38185H165.173L166.138 2.896L161.775 4.14991L161.041 8.38185H157.488L156.755 12.457H160.307L158.685 21.8614C157.797 26.9554 160.578 28.7578 166.602 27.9742L167.258 24.1732C164.169 24.3692 162.431 24.4084 162.856 21.8614L164.478 12.457Z" fill="#FFCF00"/>
                        <ellipse opacity="0.1" cx="79.3967" cy="17.5618" rx="8.14378" ry="8.2639" fill="#FFCF00"/>
                        <ellipse opacity="0.1" cx="80.7746" cy="17.5619" rx="8.14378" ry="8.2639" fill="#FFCF00"/>
                        <ellipse opacity="0.2" cx="82.1526" cy="17.5619" rx="8.14378" ry="8.2639" fill="#FFCF00"/>
                        <ellipse opacity="0.4" cx="83.5305" cy="17.5619" rx="8.14378" ry="8.2639" fill="#FFCF00"/>
                        <ellipse opacity="0.6" cx="84.9084" cy="17.5619" rx="8.14378" ry="8.2639" fill="#FFCF00"/>
                        <ellipse opacity="0.8" cx="86.3108" cy="17.5619" rx="8.14378" ry="8.2639" fill="#FFCF00"/>
                        <ellipse cx="87.6506" cy="17.5619" rx="8.14378" ry="8.2639" fill="#FFCF00"/>
                        <path d="M18.2173 8.38185L17.6767 11.5558C16.4024 9.20473 14.1241 7.87245 11.1507 7.87245C5.74463 7.87245 1.22667 11.9085 0.184064 17.747C-0.819927 23.272 2.34651 28.4836 8.13877 28.4836C11.1507 28.4836 13.5063 27.4256 15.2053 25.6623L14.8192 27.9742H18.9896L22.3877 8.38185H18.2173ZM9.37445 24.4475C5.86048 24.4475 3.73665 21.7046 4.35449 18.0605C5.04956 14.0636 8.21599 11.9085 11.3824 11.9085C14.5102 11.9085 16.9816 13.9853 16.5955 17.747L16.4024 18.8833C15.5529 22.214 12.6567 24.4475 9.37445 24.4475Z" fill="white"/>
                        <path d="M44.7404 0.54493L42.8097 11.595C41.574 9.24392 39.2571 7.87245 36.2837 7.87245C30.8776 7.87245 26.3596 11.9085 25.317 17.747C24.313 23.272 27.4795 28.4836 33.2717 28.4836C36.2837 28.4836 38.6778 27.4256 40.4155 25.6231L39.9907 27.9742H44.1612L48.9108 0.54493H44.7404ZM34.546 24.4475C31.0321 24.4475 28.8696 21.7046 29.4875 18.0605C30.1825 14.0636 33.3876 11.9085 36.554 11.9085C39.6818 11.9085 42.1532 13.9461 41.767 17.7078L41.574 18.8441C40.7244 22.1748 37.8283 24.4475 34.546 24.4475Z" fill="white"/>
                        <path d="M56.9005 28.4836C60.9937 28.4836 64.2374 26.6419 64.8938 22.9193C66.2067 15.2783 55.2015 17.5902 55.8965 13.7893C56.1668 12.3003 57.7114 11.6734 59.1016 11.6734C60.7234 11.6734 62.0749 12.4179 62.5383 13.8677L66.284 11.9477C65.1255 9.40065 62.6542 7.87245 59.3333 7.87245C55.7421 7.87245 52.3439 9.91005 51.7261 13.4367C50.4132 20.8817 61.3413 18.9225 60.7234 22.5275C60.4917 23.899 59.1788 24.6043 57.2481 24.6043C54.9698 24.6043 53.541 23.4287 53.0776 21.783L49.332 23.7422C50.4132 26.6419 52.8846 28.4836 56.9005 28.4836Z" fill="white"/>
                    </svg>

                </a>
                <!-- /.logo -->

            </div>
            <!-- /.col -->

            <div class="col header__ui">

                <nav class="nav">

                    <a href="#advertisers" class="nav__link active" data-index="1" data-aos="fade-up" data-aos-duration="350" data-aos-delay="50" data-aos-offset="100">Advertisers</a>
                    <a href="#publishers" class="nav__link" data-index="2" data-aos="fade-up" data-aos-duration="350" data-aos-delay="100" data-aos-offset="100">Publishers</a>
                    <a href="#contact" class="nav__link" data-index="3" data-aos="fade-up" data-aos-duration="350" data-aos-delay="150" data-aos-offset="100">Contact us</a>

                </nav>
                <!-- /.nav -->

                <div class="auth">

                    <a href="/login.html" class="auth__link" data-aos="fade-up" data-aos-duration="350" data-aos-delay="200" data-aos-offset="100">Login</a>
                    <a href="/sign-up.html" class="auth__link" data-aos="fade-up" data-aos-duration="350" data-aos-delay="250" data-aos-offset="100">Sign up</a>

                </div>
                <!-- /.auth -->

                <div class="hamburger hamburger--elastic js-hamburger" data-aos="fade-up" data-aos-duration="350" data-aos-delay="50" data-aos-offset="100">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
                <!-- /.hamburger -->

                <div class="mob-menu">

                    <div class="container-fluid">

                        <nav class="nav">

                            <a href="#advertisers" class="nav__link active" data-index="1">Advertisers</a>
                            <a href="#publishers" class="nav__link" data-index="2">Publishers</a>
                            <a href="#contact" class="nav__link" data-index="3">Contact us</a>

                        </nav>
                        <!-- /.nav -->

                        <div class="auth">

                            <a href="" class="auth__link">Login</a>
                            <a href="" class="auth__link">Sign up</a>

                        </div>
                        <!-- /.auth -->

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- /.mob-menu -->

            </div>
            <!-- /.col-auto -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</header>
<!-- /.header -->
