<div class="mob-menu">

    <div class="container-fluid">

        <nav class="nav">

            <a href="" class="nav__link active" data-index="1">Home</a>
            <a href="" class="nav__link" data-index="2">About us</a>
            <a href="" class="nav__link" data-index="3">Product and Services</a>
            <a href="" class="nav__link" data-index="4">CPM</a>
            <a href="" class="nav__link" data-index="5">Contact us</a>

        </nav>
        <!-- /.nav -->

        <div class="auth">

            <a href="" class="auth__link">Login</a>
            <a href="" class="auth__link">Sign up</a>

        </div>
        <!-- /.auth -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /.mob-menu -->
