@import "shared/variables";
@import "shared/mixin/px-to-rem";

body {
  font-size: rem(18);
  font-family: $font-gilroy-400;
  color: $text-secondary;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

.sec {

  &-main {
    background-image: url('../img/general/bg-main.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: relative;

    @media screen and (max-width: 991px){
      background-size: auto 50%;

      &.min-screen {
        background-size: cover;
      }

    }

    & > * {
      position: relative;
      z-index: 2;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180.1deg, rgba(21, 21, 21, 0.44) -0.77%, rgba(21, 21, 21, 0.84) 20.71%, #151515 43.09%);
      z-index: 1;
    }

    &.min-screen {
      &::before {
        background: linear-gradient(180.1deg, rgba(21, 21, 21, 0.44) -0.77%, rgba(21, 21, 21, 0.84) 20.71%, #151515 83.09%);
      }
    }
  }

  &-top {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .title {
      margin-bottom: 40px;
      font-family: $font-gilroy-600;
      font-weight: 600;
    }

    .wrap-btn {
      margin-top: 60px;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 767px){
        flex-direction: column;
        align-items: center;
      }

      .btn {
        & + .btn {
          margin-top: 40px;

          @media screen and (min-width: 768px){
            margin-left: 50px;
            margin-top: 0;
          }
        }
      }

      & + .wrap-btn {
        margin-top: 40px;
      }
    }

  }

  &-advantages {
    padding-bottom: 242px;

    @media screen and (min-width: 992px){
      padding-left: 30px;
      padding-right: 30px;
    }

    @media screen and (max-width: 767px){
      padding-bottom: 40px;
    }
    
    .title {
      margin-bottom: 80px;

      @media screen and (max-width: 767px){
        margin-bottom: 40px;
      }
    }
  }

  &-article {
    padding-bottom: 250px;
    text-align: center;

    @media screen and (max-width: 767px){
      padding-bottom: 80px;
    }
    
    .title {
      margin-bottom: 20px;
    }

    .text + .title {
      margin-top: 100px;

      @media screen and (max-width: 767px){
        margin-top: 40px;
      }
    }
  }

  &-users {
    //padding-top: 120px;
    padding-top: 17px;
    padding-bottom: 120px;

    @media screen and (min-width: 992px){
      padding-left: 30px;
      padding-right: 30px;
    }

    @media screen and (max-width: 991px){
      text-align: center;
    }

    @media screen and (max-width: 767px){
      padding-top: 0;
      padding-bottom: 80px;
    }

    .container-fluid {
      max-width: 1450px;
    }

    .subtext {
      margin-top: 20px;
    }

    .list {
      margin-top: 40px;
    }

    .row {
      padding-top: 103px;

      @media screen and (max-width: 767px){
        padding-top: 40px;
      }

      &:not(:last-child) {
        padding-bottom: 103px;

        @media screen and (max-width: 767px){
          padding-bottom: 40px;
        }
      }
    }

    svg {
      max-width: 100%;
      display: block;
      margin: auto;
      height: auto;
    }
  }

  &-smart {
    padding: 100px 0 89px;
    text-align: center;
    background-color: $bg-light;

    @media screen and (max-width: 767px){
      padding: 60px 0;
    }

    .title {
      margin-bottom: 20px;
    }

    .btn {
      margin-top: 41px;
    }
  }

  &-report {
    padding: 0 0 87px;
    background-color: $bg-light;

    .title {
      margin-bottom: 20px;
    }
  }

  &-company {
    padding-bottom: 100px;
    background-color: $bg-light;

    @media screen and (min-width: 992px){
      padding-left: 30px;
      padding-right: 30px;
    }

    @media screen and (max-width: 767px){
      padding-bottom: 60px;
    }

    .container-fluid {
      max-width: 1520px;

      [class*=col-] {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &-contact {
    padding-top: 160px;
    padding-bottom: 198px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    position: relative;

    @media screen and (max-width: 767px){
      padding-top: 80px;
      padding-bottom: 80px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(180.04deg, rgba(21, 21, 21, 0.44) -0.79%, rgba(21, 21, 21, 0.84) 46.78%, #151515 71.47%);
      z-index: 1;
    }

    & > * {
      position: relative;
      z-index: 2;
    }

    .footer {
      margin-top: 39px;
    }

    .title {
      margin-bottom: 40px;
    }
  }

}

.text-center {
  text-align: center;
}

.text-primary {
  color: $text-primary;
}

.text-underline {
  text-decoration: underline;
  
  &:hover {
    text-decoration: none;
  }
}

.title {
  font-family: $font-gilroy-500;
  font-weight: 500;
  font-size: 48px;
  line-height: 107.2%;
  /* or 51px */
  color: $text-secondary;
  text-align: center;
  letter-spacing: 0.02em;
  text-shadow: 0px 2px 4px rgba($text-dark, 0.5);

  @media screen and (max-width: 767px){
    font-size: 36px;
  }

  &-contrast {
    color: $text-contrast;
  }

  &-primary {
    color: $text-primary;
  }
}

.text {
  &-contrast {
    color: $text-contrast;
  }
}

.subtitle {
  font-family: $font-gilroy-500;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  text-align: center;
  letter-spacing: 0.02em;
  text-shadow: 0px 2px 4px rgba($text-dark, 0.98);

  @media screen and (max-width: 767px){
    font-size: 20px;
  }

  &-contrast {
    color: $text-contrast;
  }
}

.subtext {
  font-family: $font-gilroy-500;
  font-weight: 500;
  font-size: 36px;
  line-height: 107.2%;
  /* identical to box height, or 39px */
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px){
    font-size: 24px;
  }

  &-primary {
    color: $text-primary;
  }

  &-contrast {
    color: $text-contrast;
  }
}

.list {
  &__row {
    font-family: $font-gilroy-500;
    font-weight: 500;
    font-size: 24px;
    line-height: 107.2%;
    /* identical to box height, or 26px */
    letter-spacing: 0.02em;
    color: $text-secondary;

    @media screen and (max-width: 767px){
      font-size: 18px;
    }

    & + & {
      margin-top: 25px;

      @media screen and (max-width: 767px){
        margin-top: 20px;
      }
    }
  }
}

.advantages {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 991px){
    flex-direction: column;
    align-items: center;
  }

  .advantage + .advantage {
    @media screen and (min-width: 992px){
      margin-left: 50px;
    }
    @media screen and (min-width: 1440px){
      margin-left: 75px;
    }
  }
}

.advantage {
  background: linear-gradient(180deg, #FFCF00 0%, #FFEA8E 100%);
  border-radius: 6px;
  padding: 40px 43px 109px;
  max-width: 400px;
  width: 100%;

  @media screen and (max-width: 767px){
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }

  &__icon {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  &__title {
    font-family: $font-gilroy-600;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 107.2%;
    /* identical to box height, or 26px */
    text-align: center;
    letter-spacing: 0.02em;
    color: $text-secondary;
    min-height: 50px;
    margin-bottom: 20px;

    @media screen and (max-width: 767px){
      font-size: 18px;
    }
  }
  &__text {
    font-family: $font-gilroy-400;
    font-size: 24px;
    line-height: 107.2%;
    /* or 26px */
    text-align: center;
    letter-spacing: 0.02em;
    color: $text-secondary;

    @media screen and (max-width: 767px){
      font-size: 18px;
    }
  }
}
